<p style="color: green"><%= notice %></p>

<h1>Alugueis</h1>

<div id="alugueis">
  <% @alugueis.each do |aluguel| %>
    <%= render aluguel %>
    <p>
      <%= link_to "Show this aluguel", aluguel %>
    </p>
  <% end %>
</div>

<%= link_to "New aluguel", new_aluguel_path %>
