<div class='container'>

  <h2>
    Falta pouco para alugar sua Bike!
  </h2>

  <%= render "form", aluguel: @aluguel %>

  <br>

  <div>
    <%= link_to "Voltar ao Catálogo de Bikes", root_path %>
  </div>
</div>
